body {
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}
.MuiContainer-root{
  align-self: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
